.homeContainer{
    padding:1rem 2rem;
    display:grid;
    grid-template-columns: repeat(12,1fr);
    height:100%;
}
.categories{
    height:86%;
    width:23%;
    position: fixed;
    margin-right:0.5rem;
    display:none
}

.posts{
    grid-column: 4/10;
    margin-left:0.5rem;
}
@media (max-width: 1030px) {
    .categories{
        display:none;
    }
    .posts{
        grid-column: 2/12;
        margin-left:0.5rem;
    }
}

@media (max-width: 576px) {

    .posts{
        grid-column: 1/13;
    }
}